body{
    background-color: var(--bone);
}
h1{
    color: var(--black);
    font-size: 8vw;
}
a{
    font-size: 2vw;
}
#goback{
    display: flex;
    top: 50%;
    flex-direction: column;
    align-items: center;
}