*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.frontpage{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.frontpage h1{
    border-style: dashed;
    left: 7.5%;
    top: 40vh;
    color: var(--bone);
    position: absolute;
    font-size: 300%;
}

.project{
    height: 175vh;
    position: relative;
}

.one{
    background-color: var(--black);
}

.two{
    background-color: var(--black);
}
.three{
    background-color: var(--black);
}
.description{
    position: sticky;
    top: 100px;
    border-style: solid;
}
.container{
    position: absolute;
    border-style: dashed;
    width: 30%;
    top: 0;
    height: 175vh;
}
.right{
    right: 7.5%;
}
.left{
    left: 7.5%;
}
.description h1{
    color: var(--orange);
}
.description p{
    color: var(--bone)
}


