*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--black);
}
.frontpage{
    position: relative;
    width: 100%;
    height: 100vh;
}
body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.frontpage section{
    left: 7.5%;
    top: 40vh;
    position: absolute;
    color: var(--bone);
    width: 40%;
}
.frontpage section h1{
    font-size: 300%;

}

.detail{
    background-color: var(--bone);
    height: 100%;
    width: 50%;
    position: absolute;
}
.sticky{
    position: sticky;
    top: 50px;
}
.sticky h1{
    position: relative;
    color: var(--orange);
    font-size: 500%;
    font-weight: 400;
}
.project{
    height: 175vh;
    position: relative;
    margin-bottom: 5%;
}

.description{
    position: relative;
    background-color: var(--grey);
    padding: 2%;
    border-radius: 5px;
}
.container{
    position: absolute;
    width: 30%;
    top: 0;
    height: 175vh;
}

.right{
    right: 7.5%;
}
.left{
    left: 7.5%;
}
.description h1{
    color: var(--orange);
    font-weight: 700;
}
.description p{
    color: var(--bone);
}

#pictureOne{
    left: 5%;
    top: 5%;
    width: 40%;
    height: 70%;
    object-fit: contain;
    position: absolute;
}

#pictureTwo{
    top: -15%;
    left: 25%;
    width: 65%;
    height: 50%;
    object-fit: contain;
    position: absolute;
}
#pictureThree{
    left: 25%;
    top: 65%;
    width: 70%;
    height: 70%;
    object-fit: contain;
    position: absolute;
}
#resume{
    width: 85%;
    margin: 0 auto 5%;
    padding: 5% 0;
    background-color: var(--grey);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
#about h1{
    width: fit-content;
    margin: 0 auto;
    position: relative;
    font-size: 1000%;
    color: var(--bone);
    font-weight: 400;
}
.resumeSection{
    width: 85%;
    margin: 0 auto;
    position: relative;
    background-color: var(--bone);
    display: flex;
}
.resumeDescription{
    width: 66%;
    display: flex;
    flex-direction: column;
}
.resumeDescription ul{
    position: relative;
    margin: 10% 5%;
}
.resumeDescription ul li{
    margin-bottom: 10%;
}
.bold{
    color: var(--orange);
    -webkit-text-stroke: 1.5px black;
    font-weight: 700;
    font-size: 570%;
    margin: 0% 2%;
    overflow-wrap: break-word;
}
.notBold{
    margin: 0% 2%;
    color: black;
    font-weight: 400;
    font-size: 500%;
    overflow-wrap: break-word;
}
.resumeHeader{
    width: 34%;
    background-color: var(--orange);
}

.descriptionDetails{
    margin: 0% 5% 15%;
}
.descriptionDetails h3{
    font-size: 150%;
}
.descriptionDetails p{
    margin-bottom: 5%;
}
.descriptionContainer{
    margin-top: 10%;
}
footer{
    background-color: var(--orange);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: block;
}
#mail{
    margin: 0 auto;
    width: 90vw;
}

#mail h1{
    font-size: 800%;
    color: var(--bone);
    font-weight: 400;
    line-height: 1em ;
}
footer h2{
    font-size: 250%;
    color: var(--bone);
    font-weight: 400;
    position: relative;
    text-align: right;
    margin-top: 5vh;
    margin-right: 5vw ;
    color: var(--bone);
}
#logos{
    bottom: 0%;
    position: absolute;
    background-color: black;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logos ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
}
#logos li{
    margin: 0% 50%;
    font-size: 150%;
}
#logos a{
    color: var(--bone);
}
#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }


