@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
    --black: #222831;
    --grey: #393E46;
    --teal: #00ADB5;
    --bone: #EEEEEE;
    --orange: #F15412;
    --blue: #1363DF;
    font-family: 'Space Mono', monospace;;
}